.entry-form__input {
    border: 1px solid var(--color-water-10);
    width: var(--width-elements);
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
}

.entry-form__input-label {
    position: relative;
    right:calc(var(--width-elements)*0.42);
}

.entry-form__input:hover {
    border: 1px solid var(--color-nemo-dark);
}