header {
    background-color: var(--color-water-10);
    height: 100px;
    /* position: sticky; */
    top:0px;
    width:100vw;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.header__title {
    color:var(--color-granite);
    align-self: center;
    font-size: xx-large;
}