header {
    background-color: var(--color-water-10);
    height: 100px;
    position: sticky;
    top:0px;
    width:100vw;
    display: flex;
    justify-content: center;
}

h1 {
    color:var(--color-granite);
}